.flat-button {
    color: #ffd700;
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 3px 6px;
    border: 1px solid #ffd700;
    margin-top: 5px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
        background: #ffd700;
        color: #333;
      }
}


// h3{
//     margin-top: -40px;
//     font-size: 10px;
// }


